<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">

	<meta property="og:site_name" content="Martin Joiner" /> 
	<meta property="og:url" content="https://martinjoiner.co.uk/" />
	<meta property="og:title" content="Martin Joiner" /> 
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Martin Joiner is a creative software engineer based in Bristol, UK."/>
	<meta property="og:image" content="https://martinjoiner.co.uk/images/MartinSketch.jpg" />
	<meta property="fb:admins" content="511938722" />

	<title>{{ title }}</title>

	<link href='https://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
	
    <!-- injector:css -->
    <link rel="stylesheet" href="/css/61d82276.style.min.css">
    <!-- endinjector -->

	{% if cssInclude %}
		<style>
			{% include cssInclude %}
		</style>
	{% endif %}
</head>
<body>

	<nav id="header">
		<a href="/">Home</a>
		<a href="/cv/" title="Martin Joiners CV">CV</a>
		<a href="/portfolio/">Portfolio</a>
		<a href="/blog/" target="_blank" title="Open blog in a new window">Blog</a>
	</nav><!-- Close <div id="header"> -->

	<div class="headerSpace"></div>

	<div class="container">
	    <div class="masterwrapper">
        	<div id="wrapbody">

				{{ content | safe }}

	        </div>
	    </div>

	</div> <!-- Close container -->

    <!-- injector:js -->
    <script src="/js/e06fe1fe.martinjoiner.min.js"></script>
    <!-- endinjector -->

</body>
</html>
