
# Ignore dev-only things
node_modules
.idea

# Ignore logs
logs/*


# Ignore Wordpress Blog, but not the 'martword' theme folder 
public_html/blog/*
!public_html/blog/error_log
!public_html/blog/wp-content/

public_html/blog/wp-content/*
!public_html/blog/wp-content/themes/

public_html/blog/wp-content/themes/*
!public_html/blog/wp-content/themes/martword/

!public_html/blog/wp-content/themes/martword/*
!public_html/blog/wp-content/themes/martword/*/*
!public_html/blog/wp-content/themes/martword/*/*/*
!public_html/blog/wp-content/themes/martword/*/*/*/*
!public_html/blog/wp-content/themes/martword/*/*/*/*/*


# Ignore CPanel files
.ftpquota
