
# Ignore NPM packages
node_modules

# Ignore IntelliJ project folder
.idea

# Ignore logs
logs/*

# Ignore Wordpress Blog, but not the error_log file
public_html/blog
!public_html/blog/error_log

# Ignore CPanel files
.ftpquota
