body {
	padding: 0;
	margin: 0;
	color: #55596B;
	font-family: 'Bitter', serif;
}

body p {
	line-height: 1.9em;
}

th, td {
	vertical-align: top;
}

img {
	border: 0;
}

a,
#emailPlaceholder {
	color: #10354f;
	text-decoration: underline;
}

a:hover,
#emailPlaceholder:hover {
	color: #1a537c;
	cursor: pointer;
}

h1 {
	font-size: 6em;
	width: 100%;
	padding: 0.5em 0;
	color: #212942;
	margin: 1em 0;
	text-align: center;
	font-family: 'Arbutus Slab', serif;
}

h2 {
	margin: 1.2em 0 0.6em 0;
	color: #3B3B61;
}

a.invisible{
	text-decoration: inherit;
}



/* -------------------------------- */

.masterwrapper,
#headerbar,
#wrapbody,
.footerbar {
	width: 100%;
	max-width: 900px;
}



/* --------- Global Header --------- */
/* --------------------------------- */

#header {
	position: fixed;
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: white;
	text-align: center;
	font-size: 1.8em;
	z-index: 20000;
	box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}

#header a {
	padding: 0 1em;
}

.headerSpace {
	height: 70px;
	float: left;
	width: 100%;
}

/* -------------------------- */

#headerbar {
	float: left;
	height: 35px;
	margin-bottom: 20px;
}

#headerlinks {
	margin-top: 60px;
	width: 600px;
	height: 20px;
	float: left;
}

.headerlink {
	float: left;
	margin-left: 18px;
}

.headerlink a {
	text-decoration: none;
	color: #666666;
	font-size: 12px;
}

.headerlink a:hover {
	text-decoration: none;
	color: #CCCCCC;
}

.container {
	text-align: center;
	width: 100%;
}

.masterwrapper, #headerbar, .footerbar {
	margin-left: auto;
	margin-right: auto;
}

#wrapbody {
	box-sizing: border-box;
	float: left;
	width: 100%;
	padding: 0 0.6em;
	margin-bottom: 20px;
}

.link {
	width: 182px;
	height: 64px;
	background-image: url(images/Box.jpg);
}

.link:hover {
	background-position: -182px;
}




/* ------------------- Home Page ------------------ */
/* ------------------------------------------------ */

.homeWrap {
	text-align: center;
	margin-bottom: 1em;
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	font-size: 1.3em;
}

.homeWrap p {
	margin-bottom: 2em;
}

img.homeBlink {
	width: 100%;
	max-width: 450px;
	margin: 4em auto 1em;
	border-radius: 1em;
}

.📅 {
	border: 1px solid #a90d60;
	background-color: #f3f1d1;
}

.socWrap {
	width: 200px; /* ( 3 x 60px ) + ( 2 x 10px padding ) */
	margin: 0 auto;
}

.socialLink {
	background-image: url(/images/Social-Spritesheet.svg);
	background-size: 120px 120px;
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	text-indent: -99999px;
	background-repeat: no-repeat;
	margin-top: 3px;
	margin-right: 10px;
	-webkit-transition: margin .2s;
	-moz-transition: margin .2s;
	transition: margin .2s;
}

.socialLink:last-child {
	margin-right: 0;
}

.twitLink:hover,
.gitLink:hover,
.soLink:hover,
.liLink:hover {
	margin-top: 0px;
}

.twitLink {
	background-position: -2px -2px;
}

.gitLink {
	background-position: -61px -61px;
}

.soLink {
	background-position: 0 -60px;
}

.liLink {
	background-position: -60px 0;
}



/* ------------------------ CV Layout ----------------------- */
/* ---------------------------------------------------------- */

.cv {
	display: grid;
	grid-template-columns: auto 1em 220px;
}

.cv .aboutMe {
	grid-column: 1 / span 3;
	grid-row: 1;
	line-height: 1.7;
	text-align: left;
}

.aboutMe .introParagraph {
	font-size: 1.1em;
	margin-bottom: 2em;
}

.aboutMe .contactDetails {
	font-size: 1.1em;
}

.techSkills {
	grid-column: 3;
	grid-row: 2;
	text-align: right;
	color: #555;
}

.techSkills h2 {
	border-bottom: 1px solid #888;
	line-height: 1.8em;
	margin-top: 0;
}

.techSkills p {
	margin: 0 0 1em;
}

.cvPrimaryCol {
	grid-column: 1 / span 1;
	grid-row: 2;
	text-align: left;
}

.cvPrimaryCol p {
	margin-top: 0;
}

.cvPrimaryCol h2:first-child {
	margin-top: 0;
}

.cvPrimaryCol h2 {
	font-size: 2em;
}

.cvPrimaryCol h2 + h3 {
	margin-top: 0;
}

.cvPrimaryCol header {
	display: flex;
	justify-content: space-between;
}

.cvPrimaryCol header h3 {
	margin-top: 0;
}

.cvPrimaryCol .project header .dRange {
	color: #666;
}

.cvPrimaryCol ul {
	padding: 0 0 0 5mm;
}

.cvPrimaryCol .project {
	margin-bottom: 3em;
}

.cvPrimaryCol .project p {
	line-height: 1.7em;
}

.cvPrimaryCol p.role {
	font-size: 0.9em;
	font-style: italic;
}

.outLink {
	color: #888;
	list-style: none;
	margin-top: 0;
}

.historicRoles {
	grid-column: 1 / span 3;
}

/* ------- Technology Tags -------- */

.tag {
	display: inline-block;
	cursor: context-menu;
	background-color: #f5f5f5;
	padding: 0 0.2em;
}

.tag.tag-highlight-yellow {
	background-color: #fafaac;
}

.tag.tag-highlight-green {
	background-color: #d2ffcb;
}

.tag.tag-highlight-turquoise {
	background-color: #bafefe;
}

.tag.tag-highlight-pink {
	background-color: #ffccf7;
}

.tag.tag-highlight-orange {
	background-color: #ffd3a1;
}

.tag.tag-highlight-purple {
	background-color: #ccbbff;
}

.tag.tag-highlight-blue {
	background-color: #c0e4ff;
}



/* ------ Formal Education ------ */

.historicRoles ul.formaleducation {
	list-style: none;
	padding: 0;
}



@media print {

	#header,
	.headerSpace {
		display: none;
	}

	h1 {
		font-size: 4em;
		margin: 0 0 5mm 0;
		padding: 0;
	}
}


/* -------------------------------------------- Portfolio --------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

.portfolioIntro{
	margin-top: -2em;
	margin-bottom: 4em;
}

.slide {
	width: 900px;
	height: 400px;
}

.innerStage {
	position: absolute;
	width: 600px;
	height: 400px;
}

.slideImage {
	width: 540px;
	height: 360px;
	background-size: 540px 360px;
	opacity: 0.7;
	-webkit-perspective-origin: 0 0;
	-moz-perspective-origin: 0 0;
	perspective-origin: 0 0;

	-webkit-transform: perspective( 1200px ) rotateY( 12deg );
	-moz-transform: perspective( 1200px ) rotateY( 12deg );
	transform: perspective( 1200px ) rotateY( 12deg );

	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	transform-origin: 0 50%;

	-webkit-transition: -webkit-transform .8s cubic-bezier(.11,-0.7,.35,1.01), opacity .6s;
	-moz-transition: -moz-transform .8s cubic-bezier(.11,-0.7,.35,1.01), opacity .6s;
	transition: transform .8s cubic-bezier(.11,-0.7,.35,1.01), opacity .6s;

	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.1), inset -1px -1px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.1), inset -1px -1px 0 rgba(0,0,0,0.3);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.1), inset -1px -1px 0 rgba(0,0,0,0.3);
}

.slide .notes {
	position: absolute;
	-webkit-transition: margin-left .4s cubic-bezier(.11,-0.7,.35,1.01), opacity .3s;
	-moz-transition: margin-left .4s cubic-bezier(.11,-0.7,.35,1.01), opacity .3s;
	transition: margin-left .4s cubic-bezier(.11,-0.7,.35,1.01), opacity .3s;
	opacity: 0;
	margin-left: 150px;
	margin-top: 20px;
	width: 300px;
	height: 280px;
	padding: 1em;
	line-height: 2em;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.slide.active .slideImage {
	opacity: 1;
	-webkit-transform: perspective( 1200px ) rotateY( 0deg );
	-moz-transform: perspective( 1200px ) rotateY( 0deg );
	transform: perspective( 1200px ) rotateY( 0deg );

	-webkit-box-shadow: 0 16px 25px -6px #666;
	-moz-box-shadow: 0 16px 25px -6px #666;
	box-shadow: 0 16px 25px -6px #666;
}

.slide.active .notes {
	opacity: 1;
	margin-left: 600px;
}

.bottomSpace {
	width: 100%;
	float: left;
	height: 360px;
}


@media screen and (max-width: 460px) {

	#header {
		position: static;
		display: flex;
		justify-content: space-between;
		font-size: 1.3em;
	}

	.headerSpace {
		display: none;
	}

	h1 {
		font-size: 3.4em;
		padding: 0;
	}

	/* ------------ CV -------------- */
	/* ------------------------------ */

	.project header {
		display: block;
		margin-bottom: 1em;
	}

	.cv {
		grid-template-columns: auto 1em 110px;
	}

	.techSkills h2 {
		display: none;
	}

	.techSkills h3 {
		font-size: 1em;
	}

	/* ------------ Portfolio -------------- */
	/* ------------------------------------- */

	.slide {
		display: block;
		width: auto;
		height: auto;
	}

	.slide .notes,
	.slide .innerStage {
		display: block;
		position: static;
	}

	.slide .innerStage {
		width: auto;
		height: auto;
	}

	.slide .notes,
	.slide.active .notes {
		opacity: 1;
		margin-left: 0;
		width: auto;
		height: auto;
	}

	.slide .slideImage,
	.slide.active .slideImage {
		width: 100%;
		height: auto;
	}

}
