---
title: CV - Martin Joiner
permalink: cv/index.html
layout: main.njk
---

<h1>Curriculum Vitae</h1>

<div class="cv">

	<div class="aboutMe">

		<p class="contactDetails">Martin Joiner &nbsp;&nbsp; Bristol, UK &nbsp;&nbsp; <span id="emailPlaceholder"></span>
			&nbsp;&nbsp;
			<a href="https://github.com/martinjoiner" target="_blank">github.com/martinjoiner</a>
		</p>

		<h2>About Me</h2>

		<p class="introParagraph">
			I am a creative multilingual developer with a passion for good UX.
			I enjoy roles with an element of mentoring.
			I work across all components of software to remove unnecessary complexity from inherently complex systems.
			I thrive in a culture of innovation and modern standards and love a good team discussion to decide our best approach.
			Open source contributor.
		</p>

	</div>

<div class="techSkills">

	<h2>Professional Skills</h2>

	<p><em>Tap a tech to highlight</em></p>

	<h3>Languages</h3>

	<p>{% tag "PHP" %}, {% tag "JavaScript" %}, {% tag "Python" %}, {% tag "Ruby" %}, {% tag "MySQL" %}</p>

	<h3>Frameworks</h3>

	<p>{% tag "Symfony" %}, {% tag "Laravel" %}, {% tag tech="Express" %}, {% tag tech="CodeIgniter" %}</p>

	<p>{% tag tech="Behat" %}, {% tag "PHPUnit" %}, {% tag "PyTest" %}, {% tag "Jest" %}, {% tag "Psalm" %}, {% tag "CodeSniffer" %}</p>

	<h3>Frontend</h3>

	<p>{% tag "React Native" %}, Ionic, AngularJS, {% tag "WebGL" %} (Three.js).

	<h3>Infrastructure</h3>

	<p>{% tag tech="REST APIs", tag="restapi" %}, {% tag tech="CI Pipelines", tag="ci" %}, {% tag tech="WebSocket" %},
		{% tag "AWS" %}, {% tag "Firebase" %}, {% tag "Capistrano" %}, Jenkins, Heroku.</p>

	<h3>Static asset tools</h3>

	<p>11ty, Gulp, Webpack, Grunt, Broccoli, Jekyll, Elixir.</p>

	<h3>Dev</h3>

	<p>{% tag "Vagrant" %}, {% tag "Docker" %}</p>

	<h3>Hobbyist</h3>

	<p>{% tag "Raspberry Pi" %}, Arduino.</p>

	<h3>Visual</h3>

	<p>Adobe CC (Photoshop + Illustrator), logo and style design, drawing + illustration, wireframing,
		2D and 3D animation, 3D modelling, digital photography + retouching, video production.</p>

	<h3>Interactive</h3>

	<p>Responsive web design, accessibility, UX, DX.</p>

	<h3>Communication</h3>

	<p>Public speaking, leadership, mentoring, project management, statistical visualisation, prototyping, sketching.</p>

</div>
<div class="cvPrimaryCol">

	<h2>Notable Projects</h2>

	<section class="project">
		<header>
			<h3>Nourish</h3>
			<span class="dRange">Sep 2023 Acquisition - Present</span>
		</header>
		<p>Post-acquisition continuation of role as Lead Engineer for Integrations Team, now leading 4 engineers.
			Now responsible for integrations from both companies plus a public API, documentation and internal microservices.
			Team now writing {% tag "PHP" %} {% tag "Symfony" %}, {% tag "Python" %}, {% tag "TypeScript" %} and {% tag "Ruby" %} on Rails,
			each with it's own validation library, linter, test framework and logging platform.
			Deployed on {% tag "AWS" %} API Gateway using Serverless.
            </p>

		<p>Led complex processes: Aligning data schemas of 2 integrated products. Improving logging. Removed tech debt
			of an unfinished renaming process. Debugging race conditions over distributed systems.
			</p>

		<p>Completed a 5-part management training course. Facilitated PDPs and training. Ran sprint ceremonies.
			Attended quarterly offsite kick-offs. Led additional engineers from adjacent teams during crunch times.
			Managed cross-team collaboration in a department of 65 engineers in a company of 250.
			</p>

		<ul class="outLink">
			<li>&ndash; <a target=_blank href="https://nourishcare.com/">nourishcare.com</a></li>
		</ul>
	</section>
    
    <section class="project">
		<header>
        	<h3>CarePlanner</h3>
			<span class="dRange">Sep 2022 - Sep 2023 Acquisition</span>
		</header>
        <p>Joined API Team, built a complex composite calendar endpoint. Promoted to lead new <strong>Integrations Team</strong>
			took over 5 integrations
			written in {% tag "PHP" %} {% tag "Symfony" %} with {% tag "AWS" %} SNS/SQS event driven
			architecture.</p>

		<p>Devised a new internal platform for managing partner integrations, including unprocessable entity reporting
			and {% tag "JavaScript" %} {% tag tech="WebSocket" %} powered live progress bars that visualise long sync
			jobs.</p>

		<p>During acquisition by
			<a href="https://nourishcare.com/" target="_blank" referrerpolicy="no-referrer">Nourish Care</a> I led the
			new build of the CarePlanner-Nourish integration.</p>

		<p>All projects use {% tag tech="CircleCI", tag="ci" %} running {% tag tech="Behat" %} {% tag "PHPUnit" %} {% tag "Psalm" %}
			{% tag "CodeSniffer" %} and {% tag "Docker" %} for local dev.
        </p>

		<ul class="outLink">
			<li>&ndash; <a target=_blank href="https://care-planner.co.uk/">care-planner.co.uk</a></li>
		</ul>
    </section>


    <section class="project">
		<header>
        	<h3>Worktribe</h3> <span class="dRange">2020 - Feb 2022</span>
		</header>

		<p>University administration software. Helped maintain their mature legacy procedural {% tag "PHP" %} codebase.</p>

		<p>Led the build of a new backend. An {% tag tech="API", tag="restapi" %} built in {% tag "Laravel" %}
			on {% tag tech="PHP 8", tag="php" %}
            that published live chat to a {% tag "JavaScript" %} {% tag tech="WebSocket" %} server and
			used {% tag "Firebase" %} Cloud Messaging for notifications.
            Automated tests in {% tag "Behat" %} run by {% tag tech="ChipperCI", tag="ci" %}.
			Wrote command-line scripts to produce a simulation of live chat for load-testing whole system.
            Contributed to {% tag "React Native" %} app.
            Administered deployments to {% tag "AWS" %}.
            Dabbled in {% tag "Docker" %}.
        </p>
    </section>


    <section class="project">
		<header>
        	<h3>RCoA Lifelong Learning Platform</h3>
			<span class="dRange">2017 - 2019</span>
		</header>

        <p class="role">Via my role as Principal Developer at <a href="https://www.nomensa.com/">Nomensa</a></p>

		<p>A bespoke application for <a href="https://www.rcoa.ac.uk/" target="_blank">Royal College of Anaesthetists</a>
			to track learners progress toward qualifying.
            Many complex multi-user workflows with strict role-based permissions. I led a team of 3 devs (me + 2),
            full time for over 2 years to deliver and then iteratively improve this complex application.
            Recruited to rescue the project, I inherited the codebase in a bad state and applied proper Laravel-style
            techniques to leverage the full power of the framework. Built in
			{% tag "Laravel" %}
            and {% tag "JavaScript" %}, test-coverage
            with {% tag tech="Behat" %} and pipeline/deployment managed
            through {% tag tech="GitLab CI", tag="ci" %}. Notable features included partial functionality offline
            via Service Worker API.
		</p>
    </section>


	<section class="project">
		<header>
			<h3>Open Mic Finder</h3>
			<span class="dRange">2010 - Present day</span>
		</header>

		<p>I built Open Mic Finder in 2010 motivated by a lack of <em>reliable</em> online information.
			16 years later the site now gets ~30,000 unique users each month. The database holds
			~4000 sets of user-submitted venue details.
			It generates no revenue, but I keep it alive as a demonstration of my broad skills to design, build, promote
			and moderate a site on a long term basis with no budget.
		</p>
		<p>
			Over the years I've taken it from {% tag "PHP" %} version 5.4 to 8.3, survived the browser wars,
			replaced the interactive Flash map with Google Maps API, made the interface responsive,
			played with Open Graph Protocol and Rich snippets,
			Leveraged several free {% tag tech="APIs", tag="restapi" %} (Twitter, MeetUp, MailChimp, Transport),
			tried and failed to attract sponsorship,
			moved from {% tag "Vagrant" %} to {% tag "Docker" %} for local dev, added tests in {% tag "PHPUnit" %}.
		</p>

		<ul class="outLink">
			<li>&ndash; <a target=_blank href="https://openmicfinder.com/UK">openmicfinder.com</a></li>
		</ul>
	</section>


    <section class="project">
		<header>
        	<h3>Bloodhound VR</h3>
			<span class="dRange">Autumn 2017</span>
		</header>

		<p class="role">Via contract at <a href="https://zubr.co/" target="_blank" referrerpolicy="no-referrer">Zubr VR</a></p>

        <p>3D interface ({% tag "WebGL" %}) for visualising Bloodhound SSC's live vehicle data during its practice
			attempt in Cornwall in 2017. Using a {% tag tech="WebSocket" %} connection to a backend that was receiving
			data via an API from their vehicle metrics partner Oracle.
			Large {% tag "JavaScript" %} code base, deployed with {% tag "Capistrano" %}.
		</p>
    </section>


    <section class="project">
		<header>
        	<h3>Channelised Company Intranet</h3>
			<span class="dRange">Summer 2017</span>
		</header>

		<p class="role">Via contract at <a href="https://createhealth.com/">Create Health</a></p>

        <p>An employee benefits provider tasked me with building a news and social platform capable of being customised
			for multiple companies and integrating with their current legacy HR systems. New-build in
			{% tag tech="PHP 7", tag="php" %}, {% tag tech="Laravel 5.4", tag="laravel" %}. Bootstrap 3 for rapid
			templating. Deployed with {% tag "Capistrano" %}.
		</p>
    </section>


    <section class="project">
		<header>
        	<h3>Carbon Reduction Scenario Simulator</h3>
			<span class="dRange"> Spring 2017</span>
		</header>

        <p>After my previous rescue effort for Real World Visuals they asked me to pick up an unfinished, partly broken {% tag tech="CodeIgniter" %} project, pull the back-end code up to standard and get it stable and live-ready. Deployed with {% tag "Capistrano" %}.</p>
    </section>


    <section class="project">
		<header>
			<h3>Estate Carbon Emissions Visualiser</h3>
			<span class="dRange">2017</span>
		</header>

        <p>Real World Visuals needed some help making a fledgling product fit for demonstration. Picking up where
			another dev left off I merged 2 tightly-coupled repos that should never have been separate and worked across
			the full stack to polish and standardise the codebase so that I could then implement critical features ready
			for client demo. {% tag "PHP" %}
			({% tag tech="CodeIgniter" %} framework), SQLite database,
			{% tag "REST API" %} and {% tag "WebGL" %},
			{% tag "JavaScript" %}, CSS interface. Deployed with {% tag "Capistrano" %}.
		</p>
    </section>


	<section class="project">
		<header>
			<h3>BookFetch</h3>
			<span class="dRange">2017</span>
		</header>

		<p>A failed charitable startup. Built an OAuth protected {% tag "REST API" %}
			({% tag tech="Laravel 5", tag="laravel" %} running on {% tag tech="PHP 7", tag="php" %}) that allowed
			any cheap {% tag "Raspberry Pi" %} with a USB barcode scanner attached and running a {% tag "Python" %}
			script to rapidly log a shop's stock. The backend would then identify the books using the
			<a href="https://isbndb.com/">ISBNdb</a> {% tag tech="API", tag="restapi" %},
			scrape online retail prices and identify which books are worth listing for sale online.
		</p>
	</section>

	
	<section class="project">
		<header>
			<h3>Poetry Pin</h3>
			<span class="dRange">2016</span>
		</header>

		<p>Mobile web app ({% tag "JavaScript" %}) that uses device GPS sensor to
			enable users to submit poetry along defined walking routes. Profanity checker filters obviously offensive
			content. Tests written in {% tag "PHPUnit" %}. CMS and {% tag "REST API" %} in {% tag "PHP" %}.
			{% tag tech="WordPress" %} blog with custom theme for project news.
		</p>

		<ul class="outLink">
            <li>&ndash; <a target=_blank href="https://poetrypin.info/">poetrypin.info</a></li>
		</ul>
	</section>


	<section class="project">
		<header>
			<h3>Food Franchiser's Internal System</h3>
			<span class="dRange">2016</span>
		</header>

        <p>An outdated and messy legacy {% tag "PHP" %} (Concrete 5) codebase had begun to run frustratingly slow.
        	I performed code surgery and properly normalised the 58+ million row {% tag "MySQL" %} database,
			managing to successfully reduce report generation time from minutes to seconds.
        	I also improved the frontend interface, adding tips and strict validation to ensure the users were
			inputting data in a standardised format.
		</p>
	</section>

	
	<section class="project">
		<header>
			<h3>Horizon Data</h3>
			<span class="dRange">2015</span>
		</header>

		<p class="role">Via my role as Senior frontend developer at Somo Global (2015)</p>

		<p>I was responsible for {% tag "JavaScript" %}, CSS and some {% tag "PHP" %}
            ({% tag "Symfony" %}) on a CSR charity project.
			Visualisation of geographic data on charts and interactive maps.
			Was live at www.horizondata.net but no longer online.
		</p>
	</section>


	<section class="project">
		<header>
			<h3>Carmen Data / Comcar</h3>
			<span class="dRange">2012 &mdash; 2015</span>
		</header>

		<p>Decision-making tools and finance quote calculators for company car drivers.
			{% tag "JavaScript" %} interfaces backed by a {% tag "REST API" %} made in ColdFusion 9.
			A {% tag "MySQL" %} database of millions of models, vehicle options, emissions data and prices.
		</p>

		<p>Performs complex financial projections and displays the figures in an interactive interface.
			Backwards compatibility for executives still running IE7 on XP in 2015.</p>

		<p>Led the rebuild and rebrand after Carmen Data acquired <strong>Compare Contract Hire</strong>.
			Including <abbr title="User Experience">UX</abbr> design, UI design, Logo design.</p>

		<p>Projects for brands including Mercedes-Benz, Ford, Kia.</p>

		<ul class="outLink">
			<li>&ndash; <a target=_blank href="https://www.comparecontracthire.com/">www.comparecontracthire.com</a></li>
			<li>&ndash; <a target=_blank href="https://comcar.co.uk/">comcar.co.uk</a></li>
		</ul>
	</section>


	<section class="project">
		<header>
			<h3>Storywalks</h3>
			<span class="dRange">2012</span>
		</header>

		<p>Award-winning literacy app for KS2+3 in schools. GPS triggered interactive story. Front-end written in
			vanilla {% tag "JavaScript" %}, optimised for mobile and using device GPS.
			Data fed by a {% tag "PHP" %} and {% tag "MySQL" %} {% tag "REST API" %}.
			Unique challenge of UX and UI design for children.
		</p>

		<ul class="outLink">
            <li>&ndash; <a target=_blank href="https://storywalks.info">storywalks.info</a></li>
		</ul>
	</section>

</div>
<div class="historicRoles">

	<h2>Other interests</h2>

	<p>Rock Climbing. Snowboarding. Painting and drawing.</p>

	<h3>Other (non-web) jobs</h3>

	<p>Commissioning artist / Artist in residence at University of Plymouth / Open mic host / Juggling teacher / Nightclub VJ / Gardener / Pancake chef</p>


	<h4>Historic roles</h4>

	<h3>Web designer at Wessex Malthouse Design <span class="dRange">2008 &ndash; 2009</span></h3>

	<p>Working alongside graphic design for print. Introduced new web department delivering new builds and 
	maintenance of sites for company's existing print clients.</p>

	<h3>Video &amp; Web designer at Highbridge Caravans <span class="dRange">2006 &ndash; 2007</span></h3>

	<p>Produced online video tours of luxury vehicles. Overhauled the design of the company website. Adobe Flash animation and <abbr title="Search engine optimisation">SEO</abbr>. Learned {% tag "PHP" %} for the role.</p>


	<h2>Formal Education</h2>
	<ul class="formaleducation">
		<li>2003-7 BA (Hons) Fine Art &ndash; 1st Class Honours &ndash; University of Plymouth</li>
		<li>2001-2 BSc (Hons) Computing Informatics &ndash; University of Plymouth</li>
	</ul>

</div>
</div><!-- /.cv -->
